<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3 text-center">
        <h2>상품 상세보기</h2>
    </div>
    <div class="container mt-3 d-flex justify-content-center">
        <div class="card" style="width:400px">
            <img class="card-img-top" width="350" height="200"
                 th:src="|/images/item/@{${productDTO.product_img}}|" alt="상품 이미지" style="width:100%">
            <div class="card-body">
                <h4 class="card-title" th:text="${productDTO.product_name}">노트북</h4>
                <p class="card-text" th:text="${productDTO.product_detail}">좋은 노트북</p>
                <p class="card-text">가격 : <span th:text="${productDTO.product_price}">1200</span> </p>

                <a href="#" class="btn btn-primary">장바구니</a>
                <a href="#" class="btn btn-secondary">구매하기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>